:root {
  --font-family: 'Poppins', sans-serif;
  --color-bg: #D4E9E2;
  --color-text: #121212;
  --color-subtext: #1E3932;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.black-gradient {
  background: #000000; 
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); 
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); 
}
.green-text-gradient {
  background: #11998e; 
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); 
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  background: #56ccf2; 
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  );
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; 
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); 
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
